/* @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap"); */
:root {
    --bg: #fff1e7;
    --text: #263743;
    --link: #4169e1;
    --title: #263743;
    --slate_grey: #2f4f4f;
    --brown: #654321;
    --switch-light: #fff1e7;
    --switch-dark: #1e2021;
}

[data-theme="dark"] {
    --bg: #1e2021;
    --text: #fff1e7;
    --link: #4169e1;
}

body {
    font-family: "JetBrains Mono", monospace;
    margin: 2em;
    background-color: var(--bg);
    color: var(--text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-top: 3px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

nav ul li {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
    position: relative;
}

h1 {
    text-align: center;
}

/* components */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main div {
    flex: auto;
}

#upper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#instructions {
    min-height: 2lh;
}

form {
    width: fit-content;
    padding: 0.5rem 0.5rem;
    padding-left: 1rem;
    border: 3px solid var(--text);
    border-radius: 7px;
}

form div {
    margin: 0.5rem auto;
}

input,
select,
button {
    font: inherit;
    color: var(--text);
}

button {
    background: transparent;
    border-radius: 7px;
}
button:active {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
}

input,
select {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

#food_name {
    max-width: 10rem;
}
#weight {
    max-width: 3rem;
}

/* table */
.table-container {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    border: 3px solid var(--text);
    border-radius: 7px;
    padding: 0.5rem;
    padding-left: 0;
    min-width: max-content;
}

th {
    text-align: left;
}

td,
th {
    padding: 0 1rem;
}

/* daily summary */

/* daily info */
.numeric-cell {
    text-align: right;
}

/* daily log */

/* chart */
#chart-div {
    width: 800px;
    border: solid 3px var(--text);
    border-radius: 7px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

#toggleBtn {
    margin: 0.5rem;
}

.toggle-switch {
    --scale: 0.7;
    position: relative;
    width: calc(100px * var(--scale));
    height: 100%;
    padding-bottom: 2.5rem;
}

.toggle-switch label {
    position: absolute;
    width: 100%;
    height: calc(50px * var(--scale));
    background-color: var(--switch-dark);
    border-radius: calc(25px * var(--scale));
    cursor: pointer;
}

.toggle-switch input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: calc(25px * var(--scale));
    transition: 0.3s;
}

input:checked ~ .slider {
    background-color: var(--switch-light);
}

.slider::before {
    content: "";
    position: absolute;
    top: calc(7px * var(--scale));
    left: calc(8px * var(--scale));
    width: calc(38px * var(--scale));
    height: calc(38px * var(--scale));
    border-radius: 100%;
    box-shadow: inset calc(14px * var(--scale)) calc(-2px * var(--scale)) 0px
        0px var(--switch-light);
    background-color: var(--switch-dark);
    transition: 0.3s;
}

input:checked ~ .slider::before {
    transform: translateX(calc(48px * var(--scale)));
    background-color: var(--switch-dark);
    box-shadow: none;
}
