:root {
    --bg: #fff1e7;
    --text: #263743;
    --link: #4169e1;
    --title: #263743;
    --slate_grey: #2f4f4f;
    --brown: #654321;
}

[data-theme="dark"] {
    --bg: #1e2021;
    --text: #fff1e7;
    --link: #4169e1;
}

body {
    font-family: "JetBrains Mono";
    margin: 2em;
    background-color: var(--bg);
    color: var(--text);
}

h1 {
    text-align: center;
}

#form-desc {
    max-width: 400px;
    padding: 1em;
    border: 3px solid var(--slate_grey);
    border-radius: 7px;
}

form div {
    margin: 1em auto;
}

form button {
    font-family: "JetBrains Mono";
}

/* .description { */
/*     max-width: 600px; */
/*     margin: 1em auto; */
/*     padding: 1em; */
/*     border: 1px solid #ccc; */
/*     border-radius: 5px; */
/* } */
/**/
