@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap");

:root {
    --bg: #fff1e7;
    --text: #263743;
    --link: #4169e1;
    --title: #263743;
    --slate_grey: #2f4f4f;
    --brown: #654321;
}

[data-theme="dark"] {
    --bg: #1e2021;
    --text: #fff1e7;
    --link: #4169e1;
}

body {
    font-family: "JetBrains Mono", monospace;
    margin: 2em;
    background-color: var(--bg);
    color: var(--text);
}

h1 {
    text-align: center;
}

/* components */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main div {
    flex: auto;
}

#upper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#instructions {
    min-height: 2lh;
}

form {
    width: fit-content;
    padding: 0.5rem 0.5rem;
    padding-left: 1rem;
    border: 3px solid var(--text);
    border-radius: 7px;
}

form div {
    margin: 0.5rem auto;
}

input,
select,
button {
    font: inherit;
}

/* table */
table {
    border: 3px solid var(--text);
    border-radius: 7px;
    padding: 0.5rem;
    padding-left: 0;
}

/* daily info */
.numeric-cell {
    text-align: right;
}

th {
    text-align: left;
}

td,
th {
    padding: 0 1rem;
}
/* daily summary */

/* daily info */
.numeric-cell {
    text-align: right;
}

/* daily log */

/* chart */
#chart-div {
    width: 800px;
    border: solid 3px var(--text);
    border-radius: 7px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

#toggleBtn {
    margin: 1rem;
}
