:root {
    --bg: #fff1e7;
    --text: #263743;
    --link: #4169e1;
    --title: #263743;
    --slate_grey: #2f4f4f;
    --brown: #654321;
}

[data-theme="dark"] {
    --bg: #1e2021;
    --text: #fff1e7;
    --link: #4169e1;
}

body {
    font-family: "JetBrains Mono";
    margin: 2em;
    background-color: var(--bg);
    color: var(--text);
}

h1 {
    text-align: center;
}

/* components */
/* form */
#form-desc {
    max-width: 400px;
}

form {
    padding: 0.5rem 0.5rem;
    padding-left: 1rem;
    border: 3px solid var(--text);
    border-radius: 7px;
}

form div {
    margin: 0.5rem auto;
}

button {
    font-family: "JetBrains Mono";
}

/* table */
table {
    border: 3px solid var(--text);
    border-radius: 7px;
    padding: 0.5rem;
    padding-left: 0;
}

/* daily info */
.numeric-cell {
    text-align: right;
}

th {
    text-align: left;
}

td,
th {
    padding: 0 1rem;
}
/* daily summary */
/* daily log */
